*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #484a63;
  color: white;
}
.App{
  max-width: 550px;
  text-align: center;
  margin: 20px auto;
}
.App h2{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/*------------------------form-------------------------------*/

form button{
  background-color: #7952b3;
  border: none;
  outline: 0;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
  text-transform: uppercase;
  letter-spacing: 2px;
}

form button:hover{
  background-color: #6238a1;
}

table thead{
  color: white;
}
table th{
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
table td{
  color: white;
}

.total-box h4{
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

footer{
  text-align: center;
}
footer a{
  text-decoration: none;
}